.contact {
  text-align: center;
}

.contact-links {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.contact-link:link,
.contact-link:visited {
  color: #4ecdc4;
  font-size: 2.5rem;
}

.contact-link:hover,
.contact-link:active {
  transition: all 0.3s ease;
  color: white;
}
