.article {
  display: flex;
  gap: 3rem;
}

.article img {
  max-width: 50%;
  border-radius: 5px;
}

.article-date {
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.2rem;
  width: 20%;
}

.article-link:link,
.article-link:visited {
  display: flex;
  width: 25%;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  background-color: #4ecdc4;
  color: black;
}

.article-link:hover,
.article-link:active {
  transform: translate(2px, -2px);
}
